[options]
; This is the password that allows database operations:
without_demo = all
admin_passwd = {{ admin_password }}
db_host = localhost
db_port = 5432
db_user = odoo
db_password = {{ dbpass }}
addons_path = {{ source_path }}addons
proxy_mode = true
dbfilter = ^{{ database }}$
