[Unit]
Description=__APP__
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
SyslogIdentifier=__APP__
PermissionsStartOnly=true
User=__APP__
Group=__APP__
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin
ExecStart=__BIN_FILE__ --config __CONF_FILE__ --logfile /var/log/__APP__.log
Restart=always
RestartSec=3
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
